body#comfy {
  background-color: inherit;

  small.site-button-label {
    color: #999;
  }

  strong.site-button-label {
    margin-left: 10px;
    margin-right: 1em;
  }

/**
  font-size: 13px;
  line-height: 18px;

  h1 { font-size: 32px; }

  h2 { font-size: 24px; }
  h3 { font-size: 22px; }
  h4 { font-size: 18px; }
  h5 { font-size: 16px; }

  .wide-body {
    width: 98%;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto;
    padding-top: 48px;
  }

  .page-header {
  }

  .spacer {
    height: 20px;
  }

**/
  .footer {
    height: 60px;
    padding: 20px 10px 10px;

    p {
      text-align: center;
      padding-top: 10px;
      border-top: solid 1px #f5f5f5;
    }
  }

  .revision-list {
    margin-top: 1em;
  }

}
