.page-header
  .btn-group.pull-right
    = link_to t('cms.fortress.cancel'), cms_fortress_roles_path, :class => 'btn btn-default'

  %h3= t('cms.fortress.roles.edit_title')

= comfy_form_for @cms_fortress_role, url: {action: :update} do |form|
  = render form

