.navbar.navbar-inverse.nabvar-fixed-top
  .navbar-inner
    .navbar-container
      %button.btn.btn-navbar{'type' => 'button', 'data-toggle' => 'collapse', 'data-target' => '.nav-collapse'}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{'href' => '#'}= t('cms.fortress.title')
      .nav-collapse.collapse
        %ul.nav
          %li.active
            = link_to t("cms.fortress.contents"), cms_admin_path
          %li
            = link_to t("cms.fortress.design"), "#"
          %li
            = link_to t("cms.fortress.admin"), admin_cms_admin_path
