.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .navbar-container
      %button.btn.btn-navbar{'type' => 'button', 'data-toggle' => 'collapse', 'data-target' => '.nav-collapse'}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{'href' => '#'}= t('cms.fortress.title')
      .nav-collapse.collapse
        %ul.nav
          %li{:class => content_page? ? 'active' : ''}
            = link_to t("cms.fortress.contents"), cms_admin_site_pages_path(@site)
          %li{:class => design_page? ? 'active' : ''}
            = link_to t("cms.fortress.design"), design_cms_admin_path
          %li{:class => admin_page? ? 'active' : ''}
            = link_to t("cms.fortress.settings"), settings_cms_admin_path
