#media-box-dialog.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button(type="button" class="close" data-dismiss="modal" aria-hidden="true") x
        %h5.title Image Selector
      #modal-body.modal-body
        =# render partial: 'cms/fortress/shared/media_items', locals: {media: media}

      .modal-footer
        %small.muted
          Click the thumbnail to insert item to the selected editor.

:coffeescript
  CmsFortress.media.imagesPath = "#{ media_files_path(:image) }"
  CmsFortress.media.videosPath = "#{ media_files_path(:video) }"
  CmsFortress.media.othersPath = "#{ media_files_path(:others) }"


