%nav.navbar.navbar-default(role="navigation")
  .container-fluid
    .navbar-header
      %button.navbar-toggle(type="button" data-toggle="collapse" data-target="#main-nav")
        %span.sr-only Toggle Navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand(href="#")= t('cms.fortress.title')

    .collapse.navbar-collapse#main-nav
      %ul.nav.navbar-nav

