- if Cms::Fortress.configuration.enable_page_workflow && can?(:manage, 'contents.page.schedule') && !@page.new_record?
  = form.text_field :published_date, label: (@page.published? ? t('cms.fortress.published_date') : t('cms.fortress.schedule_date')), control_col: "col-sm-3", class: "status-control", :data => {:utc_date => (@page.published_date.nil? ? Time.now : @page.published_date).strftime("%d %B, %Y") }

- if Cms::Fortress.configuration.enable_page_caching
  = form.select :cached_timeout, cached_timeout_for_select, {label: t('cms.fortress.cache_timeout'), control_col: "col-sm-3"}, {class: 'status-control'}
