body#comfy .body-wrapper {
  margin-top: 2.9em;
}

.navbar-container, .footer-container {
  margin-left: 1.4em;
}

.footer-container {
  margin-top: 1em;
}

body#comfy form.formatted.form-horizontal .control-group .controls select.status-control,
body#comfy form.formatted.form-horizontal .control-group .controls input[type='text'].status-control {
  width: 30%;
}

body#comfy .nav-height {

}
