.page-header
  = link_to t('cms.fortress.cancel'), cms_fortress_users_path, class: 'btn btn-default btn-sm, pull-right'

  %h3= t('cms.fortress.users.new_title')

= comfy_form_for @cms_fortress_user, url: {action: :create} do |form|
  = render form

