.page-header
  .btn-group.pull-right
    = link_to "Cancel", cms_fortress_users_path, class: 'btn btn-default btn-sm'

  %h3= t('cms.fortress.users.new_title')

= comfy_form_for @cms_fortress_user, url: {action: :create} do |form|
  = render form

